%a.profile-edit-link{href: person_settings_path(@current_user)}
  .content
    = t("people.show.edit_profile_info")
  = link_to people_profile_like_path(username: @person.username) do
    %i.icon-thumbs-up.icon_thumb
  Likes (#{profile_like_count(@person.id)})
