- if current_user?(@person)
  = render :partial => "people/edit_profile_button"
- else
  %a.profile-contact-link{href: new_person_person_message_path(@person)}
    .content
      = t("people.show.contact", :person => PersonViewUtils.person_display_name_for_type(@person, "first_name_only"))
  %i.icon-envelope.email_confirmation
  - if @person.verified && @person.phone_number.present?
    %i.icon-phone.mobile_confirmation
  %div
    %span Confirmed
    - if @person.verified && @person.phone_number.present?
      %span.mobile_text Confirmed
  %span.email_text Email
  - if @person.verified && @person.phone_number.present?
    %span.phone_text Phone
- if @current_community.follow_in_use? && @current_user && !current_user?(@person)
  = render :partial => "follow_button", :locals => { :person => @person }
