/*
  ---------------------------------
  Reset margins, paddings & borders
  (except in form elements)
  ---------------------------------
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  ----------------------------------------
  Reset font-sizes for often used elements
  ----------------------------------------
*/

h1, h2, h3, h4, h5, h6, small {
  font-size: 1em;
}

/*
  -----------------------------------------------------
  Consistency fixes
  adopted from http://necolas.github.com/normalize.css/
  -----------------------------------------------------
*/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  position: relative; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

[hidden] {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

b, strong {
  font-weight: bold; }

pre {
  white-space: pre; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
  font-family: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

hr {
  color: transparent;
  background: none; }

.heart_icon {
  height: 37px;
}

.red_heart_icon {
  font-size: 2em;
  line-height: 0.5em;
  padding-left: 10px;
  padding-top: 10px;
  color: #e50145;
}

.white_heart_icon {
  font-size: 2em;
  line-height: 0.5em;
  padding-left: 10px;
  padding-top: 10px;
  color: black
}

@media (min-width: 48em) {
  .col-11 {
    width: 91.66667%;
    float: left;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-bottom: 0;
  }
}

@media (min-width: 15em) {
.col-11 {
    width: 86% !important;
    float: left;
    padding-right: 0.75em;
    margin-bottom: 0;
  }
}

@media (min-width: 48em) {
.col-1 {
    width: 10.33333%;
    float: left;
    padding-left: 2.75em !important;
    padding-right: 0.75em;
    margin-bottom: 0;
  }
}
