-#
  Listing image for grid

  Includes:
  - Listing image
  - Overlay (transparent gradient black)
  - Listing price
  - Adds `modifier_class` which can be used for view specific fine tunings

= link_to(listing_path(listing.url), :class => "#{modifier_class} fluid-thumbnail-grid-image-item-link") do
  .fluid-thumbnail-grid-image-image-container{:class => "#{modifier_class}"}
    - with_first_listing_image(listing) do |first_image_url|
      = image_tag first_image_url.gsub('small_3x2', 'original'), {:alt => listed_listing_title(listing), :class => "#{modifier_class} fluid-thumbnail-grid-image-image grid_image"}

    .fluid-thumbnail-grid-image-overlay{:class => "#{modifier_class}"}
    .fluid-thumbnail-grid-image-title{:class => "#{modifier_class}"}
      = listing.title

    .fluid-thumbnail-grid-image-price-container{:class => "#{modifier_class}"}
      - if listing.price
        %span.fluid-thumbnail-grid-image-price
          = MoneyViewUtils.to_humanized(listing.price)
          - price_unit = price_quantity_slash_unit(listing)
        - if !price_unit.blank?
          - price_text = " " + price_unit
          %span.fluid-thumbnail-grid-image-quantity{:title => price_text}
            = price_text
      - else
        %span.fluid-thumbnail-grid-image-type{:class => "#{modifier_class}"}
          = shape_name(listing)
